---
interface ExperienceItem {
  title: string;
  period: string;
  role: string;
  bullets: string[];
}

interface Props {
    items: ExperienceItem[]
}
const { items = [] } = Astro.props

import Bullets from '../../components/aside_components/Bullets.astro';
import ExperienceCard from '../../components/section_components/ExperienceCard.astro';
---

<div class="flex flex-col gap-4">
  {items.map((item) => (
    <ExperienceCard
      title={item.title}
      period={item.period}
      role={item.role}
    >
      <ul>
        {item.bullets.map((bullet) => (
          <Bullets>{bullet}</Bullets>
        ))}
      </ul>
    </ExperienceCard>
  ))}
</div>