---
import ChipContainer from '../general/ChipContainer.astro'
interface Props {
    image: string,
    title: string,
    description: string
}
---

<div class="w-full h-175 flex flex-col gap-2 cursor-pointer border-b border-border-default">
    <div class="relative w-full h-125 mb-2 rounded-lg object-fill ">
        <div class="absolute inset-0 bg-bg-images z-10 rounded-lg"></div>
        <img class="w-full h-full rounded-lg z-20 opacity-95 relative inset-0 " src={Astro.props.image} />
    </div>
    <ChipContainer>
        <slot />
    </ChipContainer>
    <div class="flex flex-col my-2 gap-0">
        <h3 class="text-primary-text text-primary bold">{Astro.props.title}</h3>
        <div class="flex flex-row">
            <p class="text-primary-text text-primary">{Astro.props.description} 
                <button class="text-primary-text text-secondary cursor-pointer"> ... more</button>
            </p>
        </div>
    </div>
</div>