@import "tailwindcss";

@theme {

    /*background*/
    --color-bg-main: #0F172A;
    --color-bg-surface: #111C33;
    --color-bg-elevated: #162447;
    --color-bg-images: #3B82F6;

    /*text*/
    --color-primary: #E5E7EB;
    --color-secondary: #B0B0B0;
    --color-muted: #64748B;

    /*accent*/
    --color-accent-primary: #0AE98A;
    --color-accent-hover: #2EF0A3;
    --color-accent-active: #06C977;

    /*border*/
    --color-border-default: #1E293B;

    /*ring*/
    --color-ring: #2EF0A3;

    /*disabled*/
    --color-disabled: #475569;

    /*chart*/
    --color-chart-grid: #1E293B;
    --color-chart-label: #CBD5E1;
    --color-chart-primary: #0AE98A; 
    --color-chart-secondary: #38F2B1;

    /*font*/
    --font-sans: Manrope, system-ui, sans-serif;

    /*title h1*/
    --text-title-h1: 3rem;
    --text-title-h1--line-height: 1.2;
    --text-title-h1--font-weight: 800;

    /*title h2*/
    --text-title-h2: 2rem;
    --text-title-h2--line-height: 1.2;
    --text-title-h2--font-weight: 700;

    /*subtitle h3*/
    --text-title-h3: 1.5rem;
    --text-title-h3--line-height: 1.2;
    --text-title-h2--font-weight: 600;

    /*principal text*/
    --text-principal-text: 1rem;
    --text-principal-text--line-height: 1.2;
    --text-principal-text--font-weight: 500;

    /*secondary text*/
    --text-secondary-text: 0.8rem;
    --text-secondary-text--line-height: 1.2;
    --text-secondary-text--font-weight: 500;

    /*text-button*/
    --text-button: 1rem;
    --text-button--line-height: 1.2;
    --text-button--font-weight: 600;

    /*bullets*/
    --text-bullets: 0.95rem;
    --text-bullets--line-height: 1.2;
    --text-bullets--font-weight: 300;
    
}

.bold {
    font-weight: 700;
}

@layer utilities {
 .no-scrollbar::-webkit-scrollbar {
  display: none;
 }
 .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
 }
}

.blog-content {
    width: 100%;
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2rem;
}

.blog-content :is(h1, h2, h3) {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 22px 0px;
}

.blog-content p{
    font-size: 1rem;
    margin: 22px 0px;
}

/* Inline code */
.blog-content code {
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 0.9rem;
}

/* Code block */
.blog-content pre {
    border: 1px solid #1E293B;
    background-color: #162447 !important;
    padding: 32px 12px 12px 12px ;
    border-radius: 12px;
    overflow-x: auto;
    position: relative;
}

.blog-content hr {
    border: none;
    height: 1px;
    margin: 22px 0px;
    background-color: #1E293B;
}

.blog-content pre::before {
  content: attr(data-language);
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #B0B0B0;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #0F172A;
  color: #B0B0B0;
  border: none;
  padding: 4px 10px;
  font-size: 0.75rem;
  border-radius: 6px;
  cursor: pointer;
}