<div class="w-full h-fit flex px-4.5 py-5.5 flex-row items-center justify-center gap-4.5 border-b border-border-default">
    <div class="w-20 flex justify-center items-center object-contain">
        <img class="rounded-full border-2 border-ring" src="profile.jpg" />
    </div>
    <section class="w-47.5 flex flex-col gap-0.5">
        <h3 class="text-title-h3 text-primary">César Ponce</h3>
        <p class="text-principal-text text-accent-primary">Data Analyst</p>
        <p class="text-secondary-text text-secondary">Transformo datos en insights claros para apoyar la toma de decisiones.</p>
    </section>
</div>