---
import ChevronLeft from '../../assets/ChevronLeft.astro';
---

<a href="/" class="flex flex-row items-center cursor-pointer w-fit h-fit">
    <ChevronLeft class="w-7 h-7 text-accent-primary" />
    <span class="ml-1 text-accent-primary text-primary-text">Portfolio</span>
</a>