---
import Profile from '../components/aside_components/Profile.astro';
import Skills from '../components/aside_components/Cards/Skills.astro';
import Strenghts from '../components/aside_components/Cards/Strenghts.astro';
import Focus from '../components/aside_components/Cards/Focus.astro';
import Footer from '../components/aside_components/Footer.astro';
---


<aside class="w-full h-auto flex flex-col gap-1 rounded-2xl bg-bg-surface overflow-hidden lg:w-81 lg:min-h-screen lg:rounded-none">
    <Profile />
    <div class="w-full h-full flex flex-col justify-start">
        <Focus />
        <Skills />
        <Strenghts />
    </div>
    <Footer />
</aside>
