<main class="scroll-panel order-3 w-full min-w-0 min-h-0 flex flex-col flex-1 gap-5.5 py-1 lg:order-2 lg:h-screen lg:py-5.5 lg:overflow-x-hidden lg:overflow-y-auto lg:no-scrollbar">
    <slot />
</main>
