---
import "@fontsource/manrope";
import "@fontsource/manrope/200.css"
import "@fontsource/manrope/300.css"
import "@fontsource/manrope/400.css"
import "@fontsource/manrope/500.css"
import "@fontsource/manrope/600.css"
import "@fontsource/manrope/700.css"
import "@fontsource/manrope/800.css"

import '../styles/global.css'

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props

import { ClientRouter } from 'astro:transitions';
---

<html lang="es">
	<head>
		<ClientRouter/>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="w-full min-h-screen flex flex-col gap-6 overflow-x-hidden bg-bg-main px-4 py-4 lg:h-screen lg:overflow-hidden lg:flex-row lg:justify-between lg:gap-[4.20rem] 2xl:gap-[15rem] lg:px-0 lg:py-0">
		<slot />
	</body>
</html>
