---
import '../styles/global.css'

interface Props {
    title: string;
    description: string;
}
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content={Astro.props.description} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
