---
import ExperienceContainer from '../components/section_components/ExperienceContainer.astro'
---

<section class="w-88.5 h-screen py-5.5 px-5.5">
    <p class="text-principal-text text-accent-active bold mb-5.5">EXPERIENCIA PROFESIONAL</p>
    <div class="flex flex-col gap-5.5 ">
        <ExperienceContainer />
    </div>
</section>