---
import ExperienceContainer from '../components/section_components/ExperienceContainer.astro'
---

<section class="order-2 w-full py-2 lg:order-3 lg:w-88.5 lg:h-screen lg:px-5.5 lg:py-5.5">
    <p class="text-principal-text text-accent-active bold mb-5.5">EXPERIENCIA PROFESIONAL</p>
    <div class="flex flex-col gap-5.5 ">
        <ExperienceContainer />
    </div>
</section>
